{{!< main}}
    
    <section class="">
    <h2 class="text-center">¡Bienvenido!</h2>
    <p class="h4 text-center">Proyectos a desarrollar:</p>
        <ul class="list-group list-group-numbered text-center">
            <li class="list-group-item text-center"> 🔥Subir imagen</li>
            <li class="list-group-item text-center"> 🔥Chatear</li>
            <li class="list-group-item text-center"> 🔥Handlebars</li>
        </ul>
    </section>