{{!< main}}
    <h2 class="display-6 text-center">Subir Archivo</h2>
    {{#if msg}}
    <p>{{msg}}</p>
    {{/if}}
<div class="msn-header text-center">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="miArchivo" required>
        <button class="btn btn-success" type="submit">Enviar</button>
    </form>
</div>
    {{#if fileUrl}}
    <div>
        {{#if isImage}}
        <img src="{{fileUrl}}" alt="Imagen Subida">
        {{else}}
        <a href="{{fileUrl}}" download="">Descargar Archivo</a>
        {{/if}}
    </div>
    {{/if}}
    </section>